

<%= form_with Model: @route do |form| %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
 <h2><li> <a href="/flightroutes/flightschedule">After Schedule</a></li></h2>