<!DOCTYPE html>
<html>
<style>
table, th, td {
  border:1px solid black;
  border-collapse:collapse;
}
body {background-color: #ffcc99;}
</style>
<body>

<h2>All Routes </h2>

<table style="width:100%">
  <tr>
    <th>Name</th>
  </tr>
  
      <% @routes.each do |route| %>
      <tr>
          <td><%= route.name %></td>
      </tr>
      <% end %>
      
</table>

</body>
</html>
