<!DOCTYPE html>
<html>
<body>
 <%= stylesheet_link_tag "styles3.css"%>

<h2>All Routes </h2>

<table style="width:50%">
  <tr>
    <th>Name</th>
  </tr>
  
      <% @routes.each do |route| %>
      <tr>
          <td><%= route.name %></td>
      </tr>
      <% end %>
      
</table>

</body>
</html>
